// Basic container
.container {
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    max-width: 618px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 882px;
  }
}
