$mobile-min: 320px;
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

$primary-font-family: 'Roboto', sans-serif;
$font-color: #ffffff;
$line-color: #ff6b08;
$notification-color: #ff001b;
$btn-color: #ff6b01;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
