ul {
  margin: 0;
}

.modal--close {
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  background-image: url('../images/modal/close.png');
  cursor: pointer;
}

// mobile

.backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
}

.modal__content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 45px 20px;
  background-color: white;
}

.modal__content_left-img {
  margin-bottom: 30px;
}

.film-img {
  width: 240px;
  height: 356px;
  border-radius: 5px;
  object-fit: cover;
}

.modal-title {
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}

.modal__content_right-info {
  margin-top: 20px;
}

.table {
  // display: flex;
}

.flex {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.film__info--left {
  display: flex;
  margin-right: 40px;
  // text-align: left;
}

.film__info--right {
  display: flex;
  // text-align: left;
}

.info-subtitle {
  margin-top: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: #8c8c8c;
  // margin-bottom: 10px;
}

.info-value {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
}

.info-value--vote {
  text-align: center;
  border-radius: 5px;
  width: 36px;
  height: 16px;
}

.vote-orange {
  color: #ffffff;
  background: #ff6b01;
}

.vote-grey {
  color: #000000;
  background: #f7f7f7;
}

.info-value--vote-or {
  color: #8c8c8c;
  margin-right: 3px;
  margin-left: 3px;
}

.info-value--uppercase {
  text-transform: uppercase;
}

.info-value--list {
  margin-right: 5px;
}

.info-value--list:last-child {
  margin-right: 0;
}

.info-value--genres {
  display: flex;
}

.modal__content_right-about {
  margin-top: 10px;
  margin-bottom: 20px;
}

.about-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
}

.modal__content_right-btns {
  display: flex;
  justify-content: space-between;
}

.modal-btns {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  text-align: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;

  border-radius: 5px;
  height: 44px;
  width: 112px;

  padding: 7px;
  margin: 2px;

  cursor: pointer;
}

.modal-btns--watched {
  background: #ff6b01;
  color: #ffffff;
}

.modal-btns--queue {
  border: 1px solid #000000;
  // box-sizing: border-box;
  color: #000000;
}

// LAPTOP

// DESCTOP
