ul {
  margin: 0;
}

.modal--close {
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  background-image: url('../images/modal/close.png');
  cursor: pointer;
  transition: 200ms;

  &:hover {
    background-image: url('../images/modal/close-hover.png');
  }
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 3;

  &.visually-hidden .modal__content {
    transform: scale(0.3);

    @media screen and (min-width: 768px) {
      top: 50%;
      transform: translateY(-50%) scale(0.3);
    }
  }
}

.modal__content {
  position: relative;
  margin: 0 auto;
  width: 280px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 45px 20px;
  background-color: white;
  transform: scale(1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    top: 50%;
    transform: translateY(-50%) scale(1);
    width: 618px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media screen and (min-width: 1024px) {
    width: 882px;
    padding: 50px 30px;
  }
}

.modal__content_left {
  margin-bottom: 30px;
  width: 240px;
  height: 356px;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    width: 265px;
    height: 375px;
  }

  @media screen and (min-width: 1024px) {
    width: 395px;
    height: 480px;
  }
}

.film-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.modal-title {
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 30px;
  }
}

.modal__content_right {
  @media screen and (min-width: 768px) {
    width: 264px;
  }

  @media screen and (min-width: 1024px) {
    width: 395px;
  }
}

.modal__content_right-info {
  margin-top: 20px;
}

.flex {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.film__info {
  width: 100%;
}

.film__info--left {
  width: 50%;

  @media screen and (min-width: 768px) {
    width: 110px;
  }

  @media screen and (min-width: 1024px) {
    width: 150px;
  }
}

.film__info--right {
  display: flex;
  width: 50%;
  text-align: left;
}

.info-subtitle {
  margin-top: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: #8c8c8c;
}

.info-value {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
}

.info-value--vote {
  text-align: center;
  border-radius: 5px;
  width: 36px;
  height: 16px;
}

.vote-orange {
  color: #ffffff;
  background: #ff6b01;
}

.vote-grey {
  color: #000000;
  background: #f7f7f7;
}

.info-value--vote-or {
  color: #8c8c8c;
  margin-right: 3px;
  margin-left: 3px;
}

.info-value--uppercase {
  text-transform: uppercase;
}

.info-value--list {
  margin-right: 5px;
}

.info-value--list:last-child {
  margin-right: 0;
}

.info-value--genres {
  display: flex;
  flex-wrap: wrap;
}

.modal__content_right-about {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-subtitle {
  font-size: 12px;
  margin-bottom: 10px;
}

.about-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
}

.modal__content_right-btns {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 1024px) {
    justify-content: start;
  }
}

.modal-btns {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  border-radius: 5px;
  height: 44px;
  width: 112px;
  cursor: pointer;
  transition: all 300ms ease;

  background: #ffffff;
  border: 1px solid #000000;
  color: #000000;

  &:hover {
    font-size: 13px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
    border-color: #ffffff;
  }

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1024px) {
    width: 135px;
  }
}

.modal-btns--watched {
  @media screen and (min-width: 1024px) {
    margin-right: 15px;
  }
}

.modal-btns-active {
  background: #ff6b01;
  color: #ffffff;
  border: 6px solid #ff6b01;

  &:hover {
    border-color: #ff6b01;
  }
}
