<div class="container genres__container">
  <ul class="genres__list">
    <li class="genres__item">
      <label class="genres__label">
        <input
          class="genres__checkbox visually-hidden"
          value="28"
          type="checkbox"
          name="action"
          id="action"
        />
        <span class="genres__text">Action</span>
      </label>
    </li>
    <li class="genres__item">
      <label class="genres__label">
        <input
          class="genres__checkbox visually-hidden"
          value="36"
          type="checkbox"
          name="history"
          id="history"
        />
        <span class="genres__text">History</span>
      </label>
    </li>
    <li class="genres__item">
      <label class="genres__label">
        <input
          class="genres__checkbox visually-hidden"
          value="53"
          type="checkbox"
          name="thriller"
          id="thriller"
        />
        <span class="genres__text">Thriller</span>
      </label>
    </li>
    <li class="genres__item">
      <label class="genres__label">
        <input
          class="genres__checkbox visually-hidden"
          value="18"
          type="checkbox"
          name="drama"
          id="drama"
        />
        <span class="genres__text">Drama</span>
      </label>
    </li>
    <li class="genres__item">
      <label class="genres__label">
        <input
          class="genres__checkbox visually-hidden"
          value="35"
          type="checkbox"
          name=""
          id="comedy"
        />
        <span class="genres__text">Comedy</span>
      </label>
    </li>
    <li class="genres__item">
      <label class="genres__label">
        <input
          class="genres__checkbox visually-hidden"
          value="16"
          type="checkbox"
          name=""
          id="animation"
        />
        <span class="genres__text">Animation</span>
      </label>
    </li>
  </ul>
</div>
<div class="container"><ul class="card__list" id="cards-container"></ul></div>

<div class="sentinel__container">
  <div class="sentinel visually-hidden" id="sentinel">
    "We're sorry, but you've reached the end of search results."
  </div>
</div>
