<header class="header">
  <div class="container">
    <nav class="site-nav">
      <a href="#">
        <svg class="site-nav__icon-film">
          <use href="./images/svg/sprite.svg#icon-film"></use></svg
        ><span class="site-nav__name">Filmoteka</span>
      </a>
      <ul class="site-nav__list">
        <li class="site-nav__item site-nav__item--current">Home</li>
        <li class="site-nav__item">My library</li>
      </ul>
    </nav>
    <div class="form is-visible">
      <form class="search-form" id="search-form">
        <input
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search film"
          class="search-form__input"
        />
        <button type="submit" class="btn">
          <svg class="site-nav__icon-search">
            <use href="./images/svg/sprite.svg#icon-search-2"></use>
          </svg>
        </button>
      </form>
    </div>
    <div class="notification is-visible">
      Search result not successful. Enter the correct movie name and search again.
    </div>
    <div class="overlay transform">
      <button type="submit" class="overlay__btn js-btn-watched">Watched</button>
      <button type="submit" class="overlay__btn js-btn-queue">queue</button>
    </div>
  </div>
</header>
