<header class="header imgHome">
  <div class="container header-container">
    <div class="toolbar">
      <div class="theme-switch">
        <svg class="theme-switch__icon sun" role="img" aria-label="Иконка солнца">
          <use href="./images/svg/sprite.svg#sun"></use>
        </svg>
    
        <div class="theme-switch__control">
          <input class="theme-switch__toggle" type="checkbox" name="theme" id="theme-switch-toggle"
            aria-label="Переключить между тёмной и светлой темой" />
          <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle">
          </label>
          <div aria-hidden="true" class="theme-switch__marker"></div>
        </div>
    
        <svg class="theme-switch__icon" aria-label="Иконка луны">
          <use href="./images/svg/sprite.svg#moon"></use>
        </svg>
      </div>
    </div>
    <nav class="site-nav">
      <a href="#" class="site-nav__logo">
        <svg class="site-nav__icon-film">
          <use href="./images/svg/sprite.svg#icon-film"></use></svg
        ><span class="site-nav__name">Filmoteka</span>
      </a>
      <ul class="site-nav__list">
        <li class="site-nav__item site-nav__item--current home-js">Home</li>
        <li class="site-nav__item library-js">My library</li>
      </ul>
    </nav>
    <div class="form is-visible">
      <form class="search-form" id="search-form">
        <input
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Поиск фильмов"
          class="search-form__input"
        />
        <span class="search-form__title">Find a film</span>
        <button type="submit" class="btn">
          <svg class="site-nav__icon-search">
            <use href="./images/svg/sprite.svg#icon-search-2"></use>
          </svg>
        </button>
      </form>
    </div>
    <div class="notification">
      Search result not successful. Enter the correct movie name and search again.
    </div>
    <div class="overlay transform">
      <button type="button" class="overlay__btn js-btn-watched">watched</button>
      <button type="button" class="overlay__btn js-btn-queue">queue</button>
    </div>
  </div>
</header>
