<div class="container genres__container">
  <ul class="genres__list">
    <li class="genres__item">
      <label class="genres__label">
        <input class="genres__checkbox" value="horror" type="checkbox" name="horror" id="horror" />
        Horror
      </label>
    </li>
    <li class="genres__item">
      <label class="genres__label">
        <input class="genres__checkbox" value="comedy" type="checkbox" name="" id="comedy" />
        Comedy
      </label>
    </li>
    <li class="genres__item">
      <label class="genres__label">
        <input class="genres__checkbox" value="animation" type="checkbox" name="" id="animation" />
        Animation
      </label>
    </li>

    <!-- <li class="genres__item genres__item--horror" data-genre="horror">
      <input type="checkbox" name="" id="" value="" /> Horror
    </li>
    <li class="genres__item genres__item--comedy" data-genre="comedy">
      <input type="checkbox" name="" id="" value="" /> Comedy
    </li>
    <li class="genres__item genres__item--animation" data-genre="animation">
      <input type="checkbox" name="" id="" value="" /> Animation
    </li> -->
  </ul>
</div>
<div class="container"><ul class="card__list" id="cards-container"></ul></div>
