<div id="modal-overlay" class="modal-overlay is-hidden"></div>
<div id="modal" class="modal is-hidden">
  <button id="close-button" class="close-button modal--close"></button>

  <div class="team">
    <p class="team-text">
      This JS team project really help to everyone of us to work in team and find out the depends
      from teammates
    </p>
    <ul class="team-list">
      <li class="team-list__item">
        <a href="https://github.com/BogdanBon" class="team-card__link"
          ><div class="team-card">
            <img
              class="team-card__img"
              src="https://avatars.githubusercontent.com/u/77720392?v=4"
              alt="Bogdan Bondarenko"
            />
            <div class="team-card__body">
              <p class="team-card__title">Bogdan Bondarenko</p>
            </div>
          </div></a
        >
      </li>
      <li class="team-list__item">
        <a href="https://github.com/mashtalerleonid" class="team-card__link"
          ><div class="team-card">
            <img
              class="team-card__img"
              src="https://avatars.githubusercontent.com/u/76074345?v=4"
              alt="Leonid Mashtaler"
            />
            <div class="team-card__body">
              <p class="team-card__title">Leonid Mashtaler</p>
            </div>
          </div></a
        >
      </li>
      <li class="team-list__item">
        <a href="https://github.com/Tetiana4" class="team-card__link"
          ><div class="team-card">
            <img
              class="team-card__img"
              src="https://avatars.githubusercontent.com/u/76263339?v=4"
              alt="Tetiana Shevchuk"
            />
            <div class="team-card__body">
              <p class="team-card__title">Tetiana Shevchuk</p>
            </div>
          </div></a
        >
      </li>
      <li class="team-list__item">
        <a href="https://github.com/halyna-ala" class="team-card__link"
          ><div class="team-card">
            <img
              class="team-card__img"
              src="https://avatars.githubusercontent.com/u/77680693?v=4"
              alt="Halyna Davidovich"
            />
            <div class="team-card__body">
              <p class="team-card__title">Halyna Davidovich</p>
            </div>
          </div></a
        >
      </li>
      <li class="team-list__item">
        <a href="https://github.com/AlexRosly" class="team-card__link"
          ><div class="team-card">
            <img
              class="team-card__img"
              src="https://avatars.githubusercontent.com/u/61859834?v=4"
              alt="Alex Rosly"
            />
            <div class="team-card__body">
              <p class="team-card__title">Alex Rosly</p>
            </div>
          </div></a
        >
      </li>
      <li class="team-list__item">
        <a href="https://github.com/MaksymPryhorko" class="team-card__link"
          ><div class="team-card">
            <img
              class="team-card__img"
              src="https://avatars.githubusercontent.com/u/78167917?v=4"
              alt="Maksym Pryhorko"
            />
            <div class="team-card__body">
              <p class="team-card__title">Maksym Pryhorko</p>
            </div>
          </div></a
        >
      </li>
      <li class="team-list__item">
        <a href="https://github.com/varynskyi" class="team-card__link"
          ><div class="team-card">
            <img
              class="team-card__img"
              src="https://avatars.githubusercontent.com/u/64688166?v=4"
              alt="Oleksandr Varynskyi"
            />
            <div class="team-card__body">
              <p class="team-card__title">Oleksandr Varynskyi</p>
            </div>
          </div></a
        >
      </li>
      <li class="team-list__item">
        <a href="https://github.com/MishanyaZh" class="team-card__link"
          ><div class="team-card">
            <img
              class="team-card__img"
              src="https://avatars.githubusercontent.com/u/76045588?v=4"
              alt="Mishanya Zholondkovskyi"
            />
            <div class="team-card__body">
              <p class="team-card__title">Mishanya Zholondkovskyi</p>
            </div>
          </div></a
        >
      </li>
    </ul>
  </div>
</div>
