<div class="modal modal--hiden">
  <div class="modal__content">
    <img class="modal--close" src="./images/modal/close.png" alt="close" />
    <div class="modal__content_left">
      <div class="modal__content_left-img">
        <img
          class="film-img"
          src="https://lh3.googleusercontent.com/proxy/epr4yxssG558ecWFH8BPOjOeZuiBeVl83FyAVt6kSoIvGLkZqrzdYtNqNlwzE2x6_AEb7-nJt0AbiHVsxsE2Qv5sRtGOcF8i7a15axMSRgAIEwnmg-Mt"
          alt="...#img#"
        />
      </div>
    </div>
    <div class="modal__content_right">
      <div class="modal__content_right-title">
        <h1 class="modal-title">...#TITLE film#</h1>
      </div>
      <div class="modal__content_right-info">
        <table class="film__info">
          <tbody>
            <tr>
              <td>
                <h3 class="info-subtitle">Vote / Votes</h3>
              </td>
              <td>
                <span class="info-value">...#</span>
                <span class="info-value">...#</span>
              </td>
            </tr>
            <tr>
              <td>
                <h3 class="info-subtitle">Popularity</h3>
              </td>
              <td class="info-value">...#</td>
            </tr>
            <tr>
              <td>
                <h3 class="info-subtitle">Original Title</h3>
              </td>
              <td class="info-value">...#</td>
            </tr>
            <tr>
              <td>
                <h3 class="info-subtitle">Genre</h3>
              </td>
              <td>
                <ul class="info-value">
                  <li>...#Genre list</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal__content_right-about">
        <h2 class="about-subtitle">ABOUT</h2>
        <p class="about-info">...ABOUT film</p>
      </div>
      <div class="modal__content_right-btns">
        <button class="modal-btns modal-btns--watched">add to Watched</button>
        <button class="modal-btns modal-btns--queue">add to queue</button>
      </div>
    </div>
  </div>
</div>
